// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');
.btnPlus{
	background-color: transparent;
	background-image: url(../images/plus.png);
	background-size:100% 100%;
	width: 30px;
	height: 30px;
	border: 0px;
}